{% extends 'core/base.html' %}
{% block title %}Recuperar Senha{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4">
            <h3>Primeiro Acesso / Recuperar</h3>
            <p>Informe seu e-mail cadastrado. Enviaremos um link para você definir sua senha.</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label>E-mail:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Enviar Link</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}